[labops-oci-sampleio-dev]
aws_access_key_id = {{ onepasswordRead "op://GeneDx/labops-oci-sampleio-dev/aws_access_key_id" }}
aws_secret_access_key = {{ onepasswordRead "op://GeneDx/labops-oci-sampleio-dev/aws_secret_access_key" }}
endpoint_url = {{ onepasswordRead "op://GeneDx/labops-oci-sampleio-dev/endpoint_url" }}

